numParts = numpartitions(inIMDS, gcp);
partResults = cell(numParts, 1);
parfor partCnt = 1:numParts
    imds = partition(inIMDS, numParts, partCnt);
    partResults{partCnt} = <APPLY_BATCH_FCN>(imds, inDir, outDir, workSpaceFields, fileFieldsAndFormat);
end

startIdx = 1;
for cnt = 1:numParts
    res = partResults{cnt};
    result(startIdx:startIdx+numel(res)-1) = res;
    startIdx = startIdx+numel(res);
end
    